---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bastian García Pérez - About me">
  <main>
    <div class="instructions scale-in-ver-center">
      <div class="flex items-center gap-3">
        <img
        class="w-24 mb-3 rounded-full shadow-lg"
        src="/profile.jpg"
        alt="Profile"
      />
        <a href="mailto:bastiangperez@gmail.com">
          <button title="Send email">
            <svg
              class="w-10 text-black transition duration-75 dark:text-gray-400 hover:text-gray-700 dark:group-hover:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 22 21"
              ><path
                d="M20 4H4c-1.103 0-2 .897-2 2v12c0 1.103.897 2 2 2h16c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm0 2v.511l-8 6.223-8-6.222V6h16zM4 18V9.044l7.386 5.745a.994.994 0 0 0 1.228 0L20 9.044 20.002 18H4z"
              ></path></svg
            >
          </button>
        </a>
        <a href="/cv/CV_BastianGarcia.pdf">
          <button title="Download Curriculum" onclick="">
            <svg
              class="w-10 text-black transition duration-75 dark:text-gray-400 hover:text-gray-700 dark:group-hover:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              fill="currentColor"
              viewBox="0 0 22 21"
              ><path
                d="M8.267 14.68c-.184 0-.308.018-.372.036v1.178c.076.018.171.023.302.023.479 0 .774-.242.774-.651 0-.366-.254-.586-.704-.586zm3.487.012c-.2 0-.33.018-.407.036v2.61c.077.018.201.018.313.018.817.006 1.349-.444 1.349-1.396.006-.83-.479-1.268-1.255-1.268z"
              ></path><path
                d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8l-6-6zM9.498 16.19c-.309.29-.765.42-1.296.42a2.23 2.23 0 0 1-.308-.018v1.426H7v-3.936A7.558 7.558 0 0 1 8.219 14c.557 0 .953.106 1.22.319.254.202.426.533.426.923-.001.392-.131.723-.367.948zm3.807 1.355c-.42.349-1.059.515-1.84.515-.468 0-.799-.03-1.024-.06v-3.917A7.947 7.947 0 0 1 11.66 14c.757 0 1.249.136 1.633.426.415.308.675.799.675 1.504 0 .763-.279 1.29-.663 1.615zM17 14.77h-1.532v.911H16.9v.734h-1.432v1.604h-.906V14.03H17v.74zM14 9h-1V4l5 5h-4z"
              ></path></svg
            >
          </button>
        </a>
      </div><p>
        Hi, I'm <strong>Bastian García Pérez</strong><br />
        <br />
        I'm a selft-taught 2+ years experience software developer who started his
        profesional career after studying Desarrollo de Aplicaciones Multiplataforma
        degree in Madrid, Spain. Before that I spent my childhood time trying to
        develop websites on my own as a hobbie, and after completing my studies as
        a Biologist I decided to focus completely on reinventing myself as a developer.
        Since that I have focused my efforts and learning in Java technologies, specially
        Spring Boot, to build backend services.
        <br />
        <br />
        To support that I also developed frontend user interfaces using different
        frameworks, but most of the time I have used Angular + Typescript as main
        frontend technologies. Since then I'm trying to improve my knowledge learning
        new techs like Astro, JS in order to get a solid background in this area.
        <br />
        <br />
        Personally, I consider myself a kind and collaborative worker who loves helping
        and getting helped and who is eager to continue growing and learning in the
        field of web development.
        <br />
        <br />
        Aside from developing, some other activities that I love to do are playing
        tennis, basketball and of course spend time with family.
        <br />
        <br />
        If you have any doubt don't hesitate to ask me via email using the button located
        at the top of the card. I'm excited to answer!
      </p>
    </div>
  </main>
</Layout>

<style>
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: #3aafa9;
    padding: 1.5rem;
    border-radius: 8px;
    text-align: justify;
  }
</style>
