---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bastian García Pérez - Skills">
  <main class="scale-in-ver-center">
    <h1 class="mb-16">
      <span class="border-4 px-20 border-[#3AAFA9] border-t-0 border-b-0"
        >My Skills</span
      >
    </h1>
    <h2 class="mt-16 mb-2 text-center"><span class="text-gradient">F</span>rontend</h2>
    <div class="w-full flex justify-center gap-3 flex-wrap">
      <div title="Angular">
        <svg
          class="w-14 text-white transition duration-75 dark:text-gray-400 hover:text-[#3AAFA9] dark:group-hover:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 22 21"
          ><path d="M10.483 12.482h3.034L12 8.831z"></path><path
            d="M12 3.074 3.689 6.038l1.268 10.987 7.043 3.9 7.043-3.9 1.268-10.987L12 3.074zm5.187 13.621H15.25l-1.045-2.606h-4.41L8.75 16.695H6.813L12 5.047l5.187 11.648z"
          ></path></svg
        >
      </div>
      <div title="TypeScript">
        <svg
          class="w-14 text-white transition duration-75 dark:text-gray-400 hover:text-[#3AAFA9] dark:group-hover:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 22 21"
          ><path
            d="M19.24 3H4.76A1.76 1.76 0 0 0 3 4.76v14.48A1.76 1.76 0 0 0 4.76 21h14.48A1.76 1.76 0 0 0 21 19.24V4.76A1.76 1.76 0 0 0 19.24 3zm-5.8 10h-2.25v6.44H9.4V13H7.15v-1.46h6.29zm5.8 5.28a1.71 1.71 0 0 1-.67.74 3 3 0 0 1-1 .39 5.81 5.81 0 0 1-1.2.12 7 7 0 0 1-1.23-.11 4.52 4.52 0 0 1-1-.33v-1.71l-.06-.06h.06v.07a3.41 3.41 0 0 0 1 .54 3.06 3.06 0 0 0 1.13.2 2.58 2.58 0 0 0 .6-.06 1.47 1.47 0 0 0 .42-.17.75.75 0 0 0 .25-.25.69.69 0 0 0-.06-.74 1.24 1.24 0 0 0-.35-.33 3.12 3.12 0 0 0-.53-.3l-.67-.28a3.57 3.57 0 0 1-1.37-1 2 2 0 0 1-.46-1.33 2.16 2.16 0 0 1 .24-1.06 2.09 2.09 0 0 1 .66-.71 2.88 2.88 0 0 1 1-.42 5.11 5.11 0 0 1 1.19-.13 7 7 0 0 1 1.09.07 4.53 4.53 0 0 1 .88.23v1.65a2.42 2.42 0 0 0-.42-.24 3.58 3.58 0 0 0-.49-.17 3 3 0 0 0-.49-.1 2.45 2.45 0 0 0-.46 0 2.29 2.29 0 0 0-.56.06 1.54 1.54 0 0 0-.43.16.78.78 0 0 0-.26.25.63.63 0 0 0-.09.33.62.62 0 0 0 .1.35 1.19 1.19 0 0 0 .3.29 2.15 2.15 0 0 0 .46.28l.63.28a6.56 6.56 0 0 1 .84.42 2.65 2.65 0 0 1 .64.49 1.79 1.79 0 0 1 .42.63 2.48 2.48 0 0 1 .14.85 2.68 2.68 0 0 1-.25 1.08z"
          ></path></svg
        >
      </div>
      <div title="HTML">
        <svg
          class="w-14 text-white transition duration-75 dark:text-gray-400 hover:text-[#3AAFA9] dark:group-hover:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 22 21"
          ><path
            d="M4.136 3.012h15.729l-1.431 16.15-6.451 1.826-6.414-1.826-1.433-16.15zm5.266 7.302-.173-2.035 7.533.002.173-1.963-9.87-.002.522 5.998h6.835l-.243 2.566-2.179.602-2.214-.605-.141-1.58H7.691l.247 3.123L12 17.506l4.028-1.08.558-6.111H9.402v-.001z"
          ></path></svg
        >
      </div>
      <div title="CSS">
        <svg
          class="w-14 text-white transition duration-75 dark:text-gray-400 hover:text-[#3AAFA9] dark:group-hover:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 22 21"
          ><path
            d="M4.192 3.143h15.615l-1.42 16.034-6.404 1.812-6.369-1.813L4.192 3.143zM16.9 6.424l-9.8-.002.158 1.949 7.529.002-.189 2.02H9.66l.179 1.913h4.597l-.272 2.62-2.164.598-2.197-.603-.141-1.569h-1.94l.216 2.867L12 17.484l3.995-1.137.905-9.923z"
          ></path></svg
        >
      </div>
      <div title="Tailwind">
        <svg
          class="w-14 text-white transition duration-75 dark:text-gray-400 hover:text-[#3AAFA9] dark:group-hover:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 22 21"
          ><path
            d="M18.5 9.51a4.22 4.22 0 0 1-1.91-1.34A5.77 5.77 0 0 0 12 6a4.72 4.72 0 0 0-5 4 3.23 3.23 0 0 1 3.5-1.49 4.32 4.32 0 0 1 1.91 1.35A5.77 5.77 0 0 0 17 12a4.72 4.72 0 0 0 5-4 3.2 3.2 0 0 1-3.5 1.51zm-13 4.98a4.22 4.22 0 0 1 1.91 1.34A5.77 5.77 0 0 0 12 18a4.72 4.72 0 0 0 5-4 3.23 3.23 0 0 1-3.5 1.49 4.32 4.32 0 0 1-1.91-1.35A5.8 5.8 0 0 0 7 12a4.72 4.72 0 0 0-5 4 3.2 3.2 0 0 1 3.5-1.51z"
          ></path></svg
        >
      </div>
      <div title="PrimeNG UI">
        <svg
          class="w-14 text-white transition duration-75 dark:text-gray-400 hover:text-[#3AAFA9] dark:group-hover:text-white"
          viewBox="0 0 57 61"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M28.3 0L0.072876 10.0264L4.3782 47.2026L28.3 60.4L52.2218 47.2026L56.5271 10.0264L28.3 0Z"
            fill="white"></path>
          <mask
            id="mask0_0:913"
            style="mask-type:alpha"
            maskUnits="userSpaceOnUse"
            x="0"
            y="0"
            width="57"
            height="61"
          >
            <path
              d="M28.3 0L0.072876 10.0264L4.3782 47.2026L28.3 60.4L52.2218 47.2026L56.5271 10.0264L28.3 0Z"
              fill="white"></path>
          </mask>
          <g mask="url(#mask0_0:913)">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M28.3 0V6.7044V6.6742V37.2668V60.4L52.2218 47.2026L56.5271 10.0264L28.3 0Z"
              fill="white"></path>
          </g>
          <path
            d="M36.5739 28.6458L33.8661 28.0443L35.9722 31.0519V40.3756L43.193 34.3603V24.1344L39.8835 25.3374L36.5739 28.6458Z"
            fill="black"></path>
          <path
            d="M19.7252 28.6458L22.433 28.0443L20.327 31.0519V40.3756L13.1061 34.3603V24.1344L16.4157 25.3374L19.7252 28.6458Z"
            fill="black"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M21.2 31.6164L23.6 28L25.1 28.9041H31.1L32.6 28L35 31.6164V45.1781L33.2 47.8904L31.1 50H25.1L23 47.8904L21.2 45.1781V31.6164Z"
            fill="black"></path>
          <path
            d="M35.9722 46.0901L39.8835 42.1802V38.2702L35.9722 41.5786V46.0901Z"
            fill="black"></path>
          <path
            d="M20.327 46.0901L16.4156 42.1802V38.2702L20.327 41.5786V46.0901Z"
            fill="black"></path>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M24.2383 10.6L21.8313 16.3145L25.7426 27.7435H27.5478V10.6H24.2383ZM28.7513 10.6V27.7435H30.8574L34.4678 16.3145L32.0609 10.6H28.7513Z"
            fill="black"></path>
          <path
            d="M25.7426 27.7435L12.8052 22.9313L11 15.4122L22.1322 16.3145L26.0435 27.7435H25.7426Z"
            fill="black"></path>
          <path
            d="M30.8574 27.7435L43.7948 22.9313L45.6 15.4122L34.167 16.3145L30.5565 27.7435H30.8574Z"
            fill="black"></path>
          <path
            d="M35.0696 15.4122L41.3878 14.8107L37.1757 10.6H32.9635L35.0696 15.4122Z"
            fill="black"></path>
          <path
            d="M21.2296 15.4122L14.9113 14.8107L19.1235 10.6H23.3356L21.2296 15.4122Z"
            fill="black"></path>
        </svg>
      </div>
    </div>
    <h2 class="mt-16 mb-2 text-center"><span class="text-gradient">B</span>ackend</h2>
    <div class="w-full flex justify-center gap-3 flex-wrap">
      <div title="Java">
        <svg
          class="w-14 text-white transition duration-75 dark:text-gray-400 hover:text-[#3AAFA9] dark:group-hover:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 22 21"
          ><path
            d="M9.37 17.51c-3.09.86 1.87 2.64 5.8 1a7.18 7.18 0 0 1-1.1-.54 11.59 11.59 0 0 1-4.16.18c-1.31-.15-.54-.64-.54-.64zm5.33-1.68a16.27 16.27 0 0 1-5.36.26c-1.31-.14-.45-.77-.45-.77-3.4 1.12 1.89 2.4 6.64 1a2.25 2.25 0 0 1-.83-.49zm1.82-9.73s-6.87 1.71-3.59 5.49a1.47 1.47 0 0 1-.25 2.12s2.46-1.27 1.33-2.86-1.86-2.22 2.51-4.75z"
          ></path><path
            d="M18.13 19.14s.56.46-.63.82c-2.27.69-9.43.9-11.42 0-.72-.31.62-.74 1-.83a2.54 2.54 0 0 1 .69-.08c-.8-.56-5.15 1.1-2.21 1.58 8.05 1.37 14.64-.56 12.57-1.49zm-2.76-4.88a7 7 0 0 1 .92-.49s-1.51.27-3 .4a28.11 28.11 0 0 1-4.82.05C6.09 13.91 9.74 13 9.74 13a6.81 6.81 0 0 0-3.16.75c-2.06 1.03 5.09 1.48 8.79.51zm.91 2.44a.39.39 0 0 1-.08.09c5-1.32 3.18-4.65.78-3.81a.71.71 0 0 0-.33.25s.14-.05.43-.12c1.22-.25 2.92 1.63-.8 3.59zM12 13c-.74-1.67-3.26-3.14 0-5.71C16.09 4.08 14 2 14 2c.84 3.31-3 4.31-4.34 6.37-.93 1.41.47 2.92 2.34 4.63z"
          ></path><path
            d="M16.41 21.32a29.75 29.75 0 0 1-9.14.14s.46.38 2.84.53c3.61.23 9.15-.12 9.29-1.83 0 0-.26.64-2.99 1.16z"
          ></path></svg
        >
      </div>
      <div title="Spring Boot">
        <svg
          class="w-14 text-white transition duration-75 dark:text-gray-400 hover:text-[#3AAFA9] dark:group-hover:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 22 21"
          ><path
            d="M20.205 16.392c-2.469 3.289-7.741 2.179-11.122 2.338 0 0-.599.034-1.201.133 0 0 .228-.097.519-.198 2.374-.821 3.496-.986 4.939-1.727 2.71-1.388 5.408-4.413 5.957-7.555-1.032 3.022-4.17 5.623-7.027 6.679-1.955.722-5.492 1.424-5.493 1.424a5.28 5.28 0 0 1-.143-.076c-2.405-1.17-2.475-6.38 1.894-8.059 1.916-.736 3.747-.332 5.818-.825 2.208-.525 4.766-2.18 5.805-4.344 1.165 3.458 2.565 8.866.054 12.21zm.042-13.28a9.212 9.212 0 0 1-1.065 1.89 9.982 9.982 0 0 0-7.167-3.031C6.492 1.971 2 6.463 2 11.985a9.983 9.983 0 0 0 3.205 7.334l.22.194a.856.856 0 1 1 .001.001l.149.132A9.96 9.96 0 0 0 12.015 22c5.278 0 9.613-4.108 9.984-9.292.274-2.539-.476-5.763-1.752-9.596"
          ></path></svg
        >
      </div>
      <div title="Oracle DB">
        <svg
          class="w-14 text-white transition duration-75 dark:text-gray-400 hover:text-[#3AAFA9] dark:group-hover:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 22 21"
          ><path
            d="M10.384,12.468h1.583l-0.836-1.35l-1.537,2.439H8.894l1.87-2.926c0.141-0.202,0.419-0.251,0.62-0.11  c0.041,0.029,0.077,0.064,0.107,0.105l1.875,2.931h-0.699l-0.329-0.545h-1.602l-0.349-0.543 M17.65,13.011V10.47h-0.594v2.792  c0,0.078,0.032,0.153,0.088,0.208c0.057,0.058,0.135,0.091,0.216,0.09h2.7l0.352-0.545h-2.766 M7.828,12.557  c0.576,0,1.044-0.467,1.044-1.044c0-0.576-0.467-1.044-1.044-1.044H5.231v3.087h0.593v-2.54h1.967c0.276,0,0.5,0.224,0.5,0.5  c0,0.276-0.224,0.5-0.5,0.5H6.118l1.772,1.541h0.861l-1.19-0.999H7.828 M1.583,13.557h1.794c0.852-0.022,1.525-0.731,1.503-1.583  c-0.021-0.821-0.682-1.482-1.503-1.503H1.583c-0.852-0.022-1.561,0.651-1.583,1.503c-0.022,0.852,0.651,1.561,1.503,1.583  C1.53,13.557,1.557,13.557,1.583,13.557 M3.337,13.013H1.623c-0.552-0.018-0.984-0.479-0.966-1.031  c0.017-0.527,0.44-0.949,0.966-0.966h1.714c0.552-0.018,1.013,0.415,1.031,0.966c0.018,0.552-0.415,1.013-0.966,1.031  C3.38,13.014,3.358,13.014,3.337,13.013 M14.605,13.557h1.831l0.347-0.543h-2.137c-0.552,0.018-1.013-0.415-1.031-0.966  c-0.018-0.552,0.415-1.013,0.966-1.031c0.021-0.001,0.043-0.001,0.064,0h1.74l0.351-0.545h-2.131  c-0.852-0.022-1.561,0.651-1.583,1.503c-0.022,0.852,0.651,1.561,1.503,1.583C14.551,13.557,14.578,13.557,14.605,13.557   M21.861,13.013c-0.447,0-0.84-0.297-0.962-0.727h2.536l0.349-0.544H20.9c0.121-0.43,0.514-0.728,0.962-0.727h1.741l0.348-0.545  h-2.129c-0.852,0.022-1.525,0.731-1.503,1.583c0.021,0.821,0.682,1.482,1.503,1.503h1.831L24,13.012h-2.14"
          ></path></svg
        >
      </div>
      <div title="Grails">
        <svg
          class="w-20 text-white transition duration-75 dark:text-gray-400 hover:text-[#3AAFA9] dark:group-hover:text-white"
          viewBox="0 0 64 64"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            d="M32 16c-8.836 0-16 7.163-16 16 0 8.836 7.164 16 16 16 8.837 0 16-7.164 16-16 0-8.837-7.163-16-16-16zm8.482 7.712a1.18 1.18 0 0 0-.332-.17 9.3 9.3 0 0 0-.425-.139 1.887 1.887 0 0 1-.419-.183 1.006 1.006 0 0 1-.32-.301c-.083-.124-.126-.289-.126-.492 0-.197.04-.373.117-.52a1.13 1.13 0 0 1 .313-.375c.13-.1.282-.177.45-.227.172-.05.35-.076.53-.076.21 0 .415.03.61.089.187.057.36.153.511.283l-.536.587a.612.612 0 0 0-.267-.176 1.002 1.002 0 0 0-.333-.062.854.854 0 0 0-.19.021.728.728 0 0 0-.186.069.421.421 0 0 0-.145.125.324.324 0 0 0-.057.192c0 .122.044.213.136.278.086.061.196.114.327.156.128.043.269.086.416.128.146.042.284.102.411.178s.232.18.314.306c.083.127.124.3.124.514 0 .204-.038.384-.114.537-.076.152-.18.28-.31.38a1.34 1.34 0 0 1-.453.223c-.174.05-.358.074-.55.074-.24 0-.465-.037-.67-.11a1.678 1.678 0 0 1-.561-.342l.557-.613a.89.89 0 0 0 .313.25.962.962 0 0 0 .619.07.744.744 0 0 0 .19-.074.44.44 0 0 0 .14-.128.33.33 0 0 0 .054-.188.332.332 0 0 0-.138-.284zm-4.41-2.388h.785v2.99h1.532v.721h-2.317v-3.71zm-1.708 0h.785v3.711h-.785v-3.71zm-2.754 0h.657l1.614 3.711h-.887l-.323-.795h-1.487l-.313.796h-.865l1.604-3.712zm-4.864 0h1.431c.189 0 .37.018.54.056.167.035.316.097.442.182.126.085.227.2.301.342.074.143.112.325.112.54 0 .258-.068.481-.203.663a.902.902 0 0 1-.562.338l-.058.012.95 1.578h-.941l-.785-1.5h-.442v1.5h-.785v-3.71zm-4.124 1.047a1.761 1.761 0 0 1 1.05-1.006c.244-.09.515-.137.805-.137.296 0 .573.037.824.108.24.069.457.189.641.355l-.554.605a1.202 1.202 0 0 0-.373-.255 1.375 1.375 0 0 0-.538-.09c-.18 0-.343.029-.488.09a1.108 1.108 0 0 0-.376.257c-.104.11-.185.242-.24.392a1.41 1.41 0 0 0-.083.49c0 .178.027.344.083.493.055.148.136.279.24.388.104.11.23.196.376.257.144.06.309.091.488.091.181 0 .34-.02.473-.062.124-.038.227-.078.304-.12l.005-.002.01-.009.008-.015v-.63h-.673v-.72h1.426v1.928c-.24.123-.491.213-.747.267a3.822 3.822 0 0 1-.806.084c-.29 0-.56-.045-.805-.136a1.763 1.763 0 0 1-1.05-1.007c-.1-.24-.15-.51-.15-.807 0-.296.05-.568.15-.81zm5.122 12.735c-.24.105-.546.225-.665.288-.22.118-.562.375-.754.67a2.52 2.52 0 0 0-.317.714c-.026.124-.04.304-.037.516.006.494.091 1.152.26 1.603.194.512.3.683.522 1.202.095.22.183.428.226.53a.129.129 0 0 1-.011.124 1.16 1.16 0 0 1-.412.379c-.384.207-1.19.282-1.591.284h-.002c-.4-.003-1.207-.077-1.59-.284a1.157 1.157 0 0 1-.412-.38.13.13 0 0 1-.012-.123l.226-.53c.223-.52.328-.69.522-1.202.17-.451.255-1.109.26-1.603a2.473 2.473 0 0 0-.037-.516 2.513 2.513 0 0 0-.317-.713c-.191-.295-.533-.553-.753-.67-.166-.089-.693-.286-.9-.4a7.105 7.105 0 0 1-.838-.554 8.205 8.205 0 0 1-.959-.941c-.378-.47-.727-1.02-.895-1.613-.21-.736-.202-1.051-.23-1.289a.07.07 0 0 1 .067-.078c.202-.007.93-.024 3.477-.028.05 0 .095.03.113.078.716 1.896 2.583 3.465 5.048 4.319.1.034.11.174.011.217zm6.268 5.398c.313.832.484 1.107.846 1.95.154.357.298.697.368.861.029.067.02.14-.019.202a1.895 1.895 0 0 1-.669.616c-.622.336-1.933.458-2.583.46h-.003c-.65-.002-1.96-.124-2.583-.46a1.891 1.891 0 0 1-.669-.616.214.214 0 0 1-.018-.202c.07-.164.213-.504.366-.86.363-.844.534-1.12.847-1.951.276-.733.415-1.8.424-2.604a4.095 4.095 0 0 0-.06-.837c-.07-.318-.285-.801-.515-1.158-.31-.481-.866-.897-1.224-1.087-.27-.145-1.124-.465-1.46-.65a11.487 11.487 0 0 1-1.361-.898c-.417-.327-1.237-1.13-1.557-1.53-.615-.762-1.181-1.656-1.455-2.619-.34-1.195-.326-1.706-.372-2.092a.114.114 0 0 1 .108-.128c.415-.015 2.185-.053 9.531-.046 7.346-.007 9.116.031 9.53.046.067.003.117.061.109.128-.046.386-.033.897-.372 2.092-.274.963-.84 1.857-1.455 2.62-.32.398-1.14 1.202-1.557 1.529-.375.292-.933.662-1.362.898-.336.185-1.19.505-1.46.65-.357.19-.912.606-1.223 1.087-.23.357-.445.84-.514 1.157-.044.201-.064.496-.06.838.007.804.146 1.871.422 2.604zm9.834-7.004a8.16 8.16 0 0 1-.958.941c-.231.181-.575.408-.839.554-.207.114-.733.311-.898.4-.22.117-.563.374-.755.67-.141.219-.274.517-.316.713a2.502 2.502 0 0 0-.037.516c.005.494.09 1.152.26 1.603.194.512.299.683.521 1.201l.227.531a.129.129 0 0 1-.012.123 1.16 1.16 0 0 1-.412.38c-.384.207-1.19.281-1.59.284h-.002c-.4-.003-1.208-.077-1.59-.284a1.158 1.158 0 0 1-.413-.38.13.13 0 0 1-.012-.123c.043-.102.132-.311.227-.53.222-.52.328-.69.52-1.202.17-.451.256-1.109.261-1.603a2.581 2.581 0 0 0-.036-.516 2.53 2.53 0 0 0-.317-.714c-.192-.295-.534-.552-.754-.67-.12-.063-.427-.183-.665-.289-.099-.042-.09-.182.01-.217 2.466-.853 4.333-2.422 5.049-4.319a.12.12 0 0 1 .113-.077c2.546.004 3.275.02 3.477.027a.07.07 0 0 1 .066.079c-.026.237-.02.552-.229 1.288-.168.594-.517 1.144-.895 1.614zm-15.09-11.063a.404.404 0 0 1-.072.252.413.413 0 0 1-.176.131.771.771 0 0 1-.232.05 4.109 4.109 0 0 1-.236.008h-.51v-.896h.562c.075 0 .152.004.231.016.08.01.152.032.213.062a.411.411 0 0 1 .157.137.42.42 0 0 1 .062.24zm3.158-.1.492 1.246h-.979l.487-1.246z"
          ></path></svg
        >
      </div>
      <div title="Hibernate">
        <svg
          class="w-12 text-white transition duration-75 dark:text-gray-400 hover:text-[#3AAFA9] dark:group-hover:text-white"
          viewBox="0 0 256 267"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            d="M153.671 178.933l-.932 2.757 49.137 83.342 2.781 1.968L256 178.22l-51.342-89.137-50.986 89.85zM50.273.304L0 89.084l52.234 89.849 49.738-89.85-.134-3.63L52.565 2.11 50.273.304z"
            fill="currentColor"></path><path
            d="M50.273.304l51.7 88.78h102.684L152.601.304H50.273zM52.234 178.933L102.864 267h101.793l-50.986-88.067H52.234z"
            fill="currentColor"></path></svg
        >
      </div>
      <div title="MySQL">
        <svg
          class="w-20 text-white transition duration-75 dark:text-gray-400 hover:text-[#3AAFA9] dark:group-hover:text-white"
          viewBox="-18.458 -22.75 191.151 191.151"
          xmlns="http://www.w3.org/2000/svg"
          fill="#ffffff"
          ><g id="SVGRepo_bgCarrier" stroke-#ffffffhiteidth="0"></g><g
            id="SVGRepo_tracerCarrier"
            stroke-linecap="round"
            stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
            ><path d="M-18.458 6.58h191.151v132.49H-18.458V6.58z" fill="none"
            ></path><path
              d="M40.054 113.583h-5.175c-.183-8.735-.687-16.947-1.511-24.642h-.046l-7.879 24.642h-3.94l-7.832-24.642h-.045c-.581 7.388-.947 15.602-1.099 24.642H7.81c.304-10.993 1.068-21.299 2.289-30.919h6.414l7.465 22.719h.046l7.511-22.719h6.137c1.344 11.268 2.138 21.575 2.382 30.919M62.497 90.771c-2.107 11.434-4.887 19.742-8.337 24.928-2.688 3.992-5.633 5.99-8.84 5.99-.855 0-1.91-.258-3.16-.77v-2.757c.611.088 1.328.138 2.152.138 1.498 0 2.702-.412 3.62-1.238 1.098-1.006 1.647-2.137 1.647-3.388 0-.858-.428-2.612-1.282-5.268L42.618 90.77h5.084l4.076 13.19c.916 2.995 1.298 5.086 1.145 6.277 2.229-5.953 3.786-12.444 4.673-19.468h4.901v.002z"
              fill="#ffffffhite"></path><path
              d="M131.382 113.583h-14.7V82.664h4.945v27.113h9.755v3.806zM112.834 114.33l-5.684-2.805c.504-.414.986-.862 1.42-1.381 2.416-2.838 3.621-7.035 3.621-12.594 0-10.229-4.014-15.346-12.045-15.346-3.938 0-7.01 1.298-9.207 3.895-2.414 2.84-3.619 7.022-3.619 12.551 0 5.435 1.068 9.422 3.205 11.951 1.955 2.291 4.902 3.438 8.843 3.438 1.47 0 2.819-.18 4.048-.543l7.4 4.308 2.018-3.474zm-18.413-6.934c-1.252-2.014-1.878-5.248-1.878-9.707 0-7.785 2.365-11.682 7.1-11.682 2.475 0 4.289.932 5.449 2.792 1.25 2.017 1.879 5.222 1.879 9.619 0 7.849-2.367 11.774-7.099 11.774-2.476.001-4.29-.928-5.451-2.796M85.165 105.013c0 2.622-.962 4.773-2.884 6.458-1.924 1.678-4.504 2.519-7.737 2.519-3.024 0-5.956-.966-8.794-2.888l1.329-2.655c2.442 1.223 4.653 1.831 6.638 1.831 1.863 0 3.319-.413 4.375-1.232 1.055-.822 1.684-1.975 1.684-3.433 0-1.837-1.281-3.407-3.631-4.722-2.167-1.19-6.501-3.678-6.501-3.678-2.349-1.712-3.525-3.55-3.525-6.578 0-2.506.877-4.529 2.632-6.068 1.757-1.545 4.024-2.315 6.803-2.315 2.87 0 5.479.769 7.829 2.291l-1.192 2.656c-2.01-.854-3.994-1.281-5.951-1.281-1.585 0-2.809.381-3.66 1.146-.858.762-1.387 1.737-1.387 2.933 0 1.828 1.308 3.418 3.722 4.759 2.196 1.192 6.638 3.723 6.638 3.723 2.409 1.709 3.612 3.53 3.612 6.534"
              fill="#ffffff"></path><path
              d="M137.59 72.308c-2.99-.076-5.305.225-7.248 1.047-.561.224-1.453.224-1.531.933.303.3.338.784.601 1.198.448.747 1.229 1.752 1.942 2.276.783.6 1.569 1.194 2.393 1.717 1.453.899 3.1 1.422 4.516 2.318.825.521 1.645 1.195 2.471 1.756.406.299.666.784 1.193.971v-.114c-.264-.336-.339-.822-.598-1.196l-1.122-1.082c-1.084-1.456-2.431-2.727-3.884-3.771-1.196-.824-3.812-1.944-4.297-3.322l-.076-.076c.822-.077 1.797-.375 2.578-.604 1.271-.335 2.43-.259 3.734-.594.6-.15 1.195-.338 1.797-.523v-.337c-.676-.673-1.158-1.567-1.869-2.203-1.902-1.643-3.998-3.25-6.164-4.595-1.16-.749-2.652-1.231-3.887-1.868-.445-.225-1.195-.336-1.457-.71-.67-.822-1.047-1.904-1.533-2.877-1.08-2.053-2.129-4.331-3.061-6.502-.674-1.456-1.084-2.91-1.906-4.257-3.85-6.35-8.031-10.196-14.457-13.971-1.381-.786-3.024-1.121-4.779-1.533l-2.803-.148c-.598-.262-1.197-.973-1.719-1.309-2.132-1.344-7.621-4.257-9.189-.411-1.01 2.431 1.494 4.821 2.354 6.054.635.856 1.458 1.83 1.902 2.802.263.635.337 1.309.6 1.98.598 1.644 1.157 3.473 1.943 5.007.41.782.857 1.604 1.381 2.312.3.414.822.597.936 1.272-.521.744-.562 1.867-.861 2.801-1.344 4.221-.819 9.45 1.086 12.552.596.934 2.018 2.99 3.92 2.202 1.684-.672 1.311-2.801 1.795-4.668.111-.451.038-.747.262-1.043v.073c.521 1.045 1.047 2.052 1.53 3.1 1.159 1.829 3.177 3.735 4.858 5.002.895.676 1.604 1.832 2.725 2.245V74.1h-.074c-.227-.335-.559-.485-.857-.745-.674-.673-1.42-1.495-1.943-2.241-1.566-2.093-2.952-4.41-4.182-6.801-.602-1.16-1.121-2.428-1.606-3.586-.226-.447-.226-1.121-.601-1.346-.562.821-1.381 1.532-1.791 2.538-.711 1.609-.785 3.588-1.049 5.646l-.147.072c-1.19-.299-1.604-1.53-2.056-2.575-1.119-2.654-1.307-6.914-.336-9.976.26-.783 1.385-3.249.936-3.995-.225-.715-.973-1.122-1.383-1.685-.482-.708-1.01-1.604-1.346-2.39-.896-2.091-1.347-4.408-2.312-6.498-.451-.974-1.234-1.982-1.868-2.879-.712-1.008-1.495-1.718-2.058-2.913-.186-.411-.447-1.083-.148-1.53.073-.3.225-.412.523-.487.484-.409 1.867.111 2.352.336 1.385.56 2.543 1.083 3.699 1.867.523.375 1.084 1.085 1.755 1.272h.786c1.193.26 2.538.072 3.661.41 1.979.636 3.772 1.569 5.38 2.576 4.893 3.103 8.928 7.512 11.652 12.778.447.858.637 1.644 1.045 2.539.787 1.832 1.76 3.7 2.541 5.493.785 1.755 1.533 3.547 2.654 5.005.559.784 2.805 1.195 3.812 1.606.745.335 1.905.633 2.577 1.044 1.271.783 2.537 1.682 3.732 2.543.595.448 2.465 1.382 2.576 2.13M99.484 39.844a5.82 5.82 0 0 0-1.529.188v.075h.072c.301.597.824 1.011 1.197 1.532.301.599.562 1.193.857 1.791l.072-.074c.527-.373.789-.971.789-1.868-.227-.264-.262-.522-.451-.784-.22-.374-.705-.56-1.007-.86"
              fill="#ffffffhite"></path><path
              d="M141.148 113.578h.774v-3.788h-1.161l-.947 2.585-1.029-2.585h-1.118v3.788h.731v-2.882h.041l1.078 2.882h.557l1.074-2.882v2.882zm-6.235 0h.819v-3.146h1.072v-.643h-3.008v.643h1.115l.002 3.146z"
              fill="#ffffff"></path></g
          ></svg
        >
      </div>
      <div title="Amazon AWS">
        <svg
          class="w-14 text-white transition duration-75 dark:text-gray-400 hover:text-[#3AAFA9] dark:group-hover:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 22 21"
          ><path
            d="M18.75 11.35a4.32 4.32 0 0 1-.79-.08 3.9 3.9 0 0 1-.73-.23l-.17-.04h-.12q-.15 0-.15.21v.33a.43.43 0 0 0 0 .19.5.5 0 0 0 .21.19 3 3 0 0 0 .76.26 4.38 4.38 0 0 0 1 .12 3 3 0 0 0 1-.14 1.94 1.94 0 0 0 .73-.37 1.81 1.81 0 0 0 .49-.58 1.79 1.79 0 0 0 .17-.78 1.54 1.54 0 0 0-.3-.93 2.15 2.15 0 0 0-1-.64l-.95-.3a2 2 0 0 1-.73-.36.65.65 0 0 1-.2-.47.66.66 0 0 1 .31-.6 1.82 1.82 0 0 1 .89-.18 2.89 2.89 0 0 1 1.27.26.79.79 0 0 0 .26.08c.1 0 .15-.08.15-.22v-.36a.38.38 0 0 0-.06-.22.56.56 0 0 0-.2-.16 1.55 1.55 0 0 0-.28-.12 3.44 3.44 0 0 0-.38-.11l-.44-.1A3.4 3.4 0 0 0 19 6a2.82 2.82 0 0 0-.83.11 2.19 2.19 0 0 0-.7.35A1.61 1.61 0 0 0 17 7a1.5 1.5 0 0 0-.18.74 1.6 1.6 0 0 0 .33 1 2.08 2.08 0 0 0 1.06.68l1 .3a1.58 1.58 0 0 1 .67.34.66.66 0 0 1 .18.47.72.72 0 0 1-.35.63 1.83 1.83 0 0 1-.96.19zM12.94 6.5a.48.48 0 0 0-.13-.26.37.37 0 0 0-.26-.07H12a.43.43 0 0 0-.26.07.42.42 0 0 0-.13.26l-1 4.4-1.14-4.4a.48.48 0 0 0-.14-.26s-.13-.07-.26-.07h-.65c-.11 0-.16.06-.16.17a1.22 1.22 0 0 0 .06.27l1.56 5.14A.61.61 0 0 0 10 12a.45.45 0 0 0 .26.06h.57a.49.49 0 0 0 .27-.06.57.57 0 0 0 .12-.27l1-4.28 1 4.29a.42.42 0 0 0 .12.26.4.4 0 0 0 .27.07h.57a.41.41 0 0 0 .25-.07.44.44 0 0 0 .14-.26l1.61-5.14a.73.73 0 0 0 0-.16.52.52 0 0 0 0-.11.15.15 0 0 0-.17-.17h-.62a.45.45 0 0 0-.26.07.68.68 0 0 0-.13.26L14 11zM5.77 8.63a5.92 5.92 0 0 0-.71-.05 2.42 2.42 0 0 0-1.63.52 1.72 1.72 0 0 0-.6 1.37 1.7 1.7 0 0 0 .49 1.28 1.82 1.82 0 0 0 1.33.48 2.48 2.48 0 0 0 2-.92 3.5 3.5 0 0 0 .2.39 2.34 2.34 0 0 0 .24.31.26.26 0 0 0 .37 0l.42-.28a.28.28 0 0 0 .13-.2.27.27 0 0 0 0-.16 3.63 3.63 0 0 1-.21-.47 2 2 0 0 1-.07-.6V8.19a2.2 2.2 0 0 0-.55-1.64A2.42 2.42 0 0 0 5.33 6a3.9 3.9 0 0 0-1 .13 3.9 3.9 0 0 0-.84.3.47.47 0 0 0-.18.14.37.37 0 0 0 0 .23v.33c0 .14 0 .2.14.2a.26.26 0 0 0 .11 0l.23-.08A4.32 4.32 0 0 1 4.42 7a3 3 0 0 1 .72-.09 1.5 1.5 0 0 1 1.08.31 1.46 1.46 0 0 1 .31 1.06v.49zm.78.9v.27a2.36 2.36 0 0 1-.07.58 1.06 1.06 0 0 1-.23.43 1.38 1.38 0 0 1-.63.42 2.12 2.12 0 0 1-.68.12.94.94 0 0 1-.7-.24.92.92 0 0 1-.24-.71.92.92 0 0 1 .33-.76 1.52 1.52 0 0 1 1-.27h.62a5.67 5.67 0 0 1 .6.16zM19.76 15a19.68 19.68 0 0 1-7.55 1.54 20 20 0 0 1-9.9-2.62c-.24-.15-.43.1-.22.29A14.68 14.68 0 0 0 12 18a14.4 14.4 0 0 0 8.1-2.47c.34-.31.03-.72-.34-.53z"
          ></path><path
            d="M18.38 14.06c-.19.14-.16.33.05.3.71-.09 2.28-.27 2.56.09s-.31 1.83-.58 2.49c-.08.2.1.28.28.13a3.9 3.9 0 0 0 1.23-3.34 3.94 3.94 0 0 0-3.54.33z"
          ></path></svg
        >
      </div>
    </div>
    <h2 class="mt-16 mb-2 text-center"><span class="text-gradient">M</span>anagement</h2>
    <div class="w-full flex justify-center gap-3 flex-wrap">
      <div title="Git">
        <svg
          class="w-14 text-white transition duration-75 dark:text-gray-400 hover:text-[#3AAFA9] dark:group-hover:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 22 21"
          ><path
            d="m21.62 11.108-8.731-8.729a1.292 1.292 0 0 0-1.823 0L9.257 4.19l2.299 2.3a1.532 1.532 0 0 1 1.939 1.95l2.214 2.217a1.53 1.53 0 0 1 1.583 2.531c-.599.6-1.566.6-2.166 0a1.536 1.536 0 0 1-.337-1.662l-2.074-2.063V14.9c.146.071.286.169.407.29a1.537 1.537 0 0 1 0 2.166 1.536 1.536 0 0 1-2.174 0 1.528 1.528 0 0 1 0-2.164c.152-.15.322-.264.504-.339v-5.49a1.529 1.529 0 0 1-.83-2.008l-2.26-2.271-5.987 5.982c-.5.504-.5 1.32 0 1.824l8.731 8.729a1.286 1.286 0 0 0 1.821 0l8.69-8.689a1.284 1.284 0 0 0 .003-1.822"
          ></path></svg
        >
      </div>
      <div title="GitHub">
        <svg
          class="w-14 text-white transition duration-75 dark:text-gray-400 hover:text-[#3AAFA9] dark:group-hover:text-white"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 22 21"
          ><path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M12.026 2c-5.509 0-9.974 4.465-9.974 9.974 0 4.406 2.857 8.145 6.821 9.465.499.09.679-.217.679-.481 0-.237-.008-.865-.011-1.696-2.775.602-3.361-1.338-3.361-1.338-.452-1.152-1.107-1.459-1.107-1.459-.905-.619.069-.605.069-.605 1.002.07 1.527 1.028 1.527 1.028.89 1.524 2.336 1.084 2.902.829.091-.645.351-1.085.635-1.334-2.214-.251-4.542-1.107-4.542-4.93 0-1.087.389-1.979 1.024-2.675-.101-.253-.446-1.268.099-2.64 0 0 .837-.269 2.742 1.021a9.582 9.582 0 0 1 2.496-.336 9.554 9.554 0 0 1 2.496.336c1.906-1.291 2.742-1.021 2.742-1.021.545 1.372.203 2.387.099 2.64.64.696 1.024 1.587 1.024 2.675 0 3.833-2.33 4.675-4.552 4.922.355.308.675.916.675 1.846 0 1.334-.012 2.41-.012 2.737 0 .267.178.577.687.479C19.146 20.115 22 16.379 22 11.974 22 6.465 17.535 2 12.026 2z"
          ></path></svg
        >
      </div>
      <div title="SourceTree">
        <svg
          class="w-14 text-white transition duration-75 dark:text-gray-400 hover:text-[#3AAFA9] dark:group-hover:text-white"
          viewBox="0 0 256 256"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            d="M134.744 243.116v-22.228l55.517-28.123a3.954 3.954 0 0 0 2.169-3.532v-12.725c5.186-1.796 8.658-6.967 8.071-12.66-.686-6.642-6.626-11.474-13.27-10.788-6.644.684-11.476 6.624-10.788 13.269.496 4.828 3.77 8.686 8.071 10.179v10.294l-49.77 25.208v-20.678l21.94-10.15a3.959 3.959 0 0 0 2.296-3.587l.043-34.445 40.602-22.809a3.956 3.956 0 0 0 2.02-3.45v-9.609c5.188-1.79 8.656-6.963 8.07-12.659-.686-6.648-6.628-11.478-13.27-10.788-6.645.684-11.473 6.626-10.789 13.27.5 4.825 3.772 8.685 8.07 10.177v7.294l-40.596 22.806a3.96 3.96 0 0 0-2.021 3.45l-.043 34.229-16.322 7.544v-74.431l34.158-16.705a3.944 3.944 0 0 0 2.22-3.55V75.192c5.185-1.795 8.657-6.963 8.07-12.662-.685-6.641-6.627-11.472-13.269-10.784-6.646.683-11.477 6.623-10.789 13.273.495 4.825 3.77 8.676 8.07 10.17v10.258l-28.46 13.91V56.38c5.186-1.793 8.661-6.967 8.071-12.66-.682-6.644-6.624-11.474-13.27-10.791-6.642.69-11.472 6.627-10.786 13.272.494 4.823 3.77 8.681 8.068 10.174v70.088l-20.118-10.57V84.055a3.949 3.949 0 0 0-1.55-3.137L91.399 70.38c.748-1.801 1.072-3.805.856-5.882-.684-6.643-6.627-11.469-13.27-10.786-6.645.686-11.474 6.625-10.79 13.27.685 6.646 6.627 11.476 13.273 10.791a12.118 12.118 0 0 0 4.65-1.472l12.676 9.711v32.272c0 1.472.816 2.822 2.117 3.507l25.916 13.613v25.743l-43.238-19.997.593-15.663a3.957 3.957 0 0 0-2.15-3.673L62.213 111.65a12.01 12.01 0 0 0 .263-3.986c-.687-6.643-6.627-11.475-13.27-10.787-6.645.684-11.473 6.626-10.789 13.269.686 6.64 6.625 11.47 13.271 10.785a11.982 11.982 0 0 0 6.272-2.565l18.214 9.342-.597 15.781a3.96 3.96 0 0 0 2.296 3.743l48.954 22.641v18.377a4.06 4.06 0 0 0 0 1.044v54.003a116.521 116.521 0 0 1-12.328-.786v-46.418c0-1.547-.901-2.95-2.306-3.595l-30.715-14.135c.077-.79.078-1.598-.008-2.42-.685-6.642-6.625-11.476-13.27-10.785-6.644.685-11.473 6.623-10.789 13.268.687 6.64 6.627 11.473 13.273 10.788a12.026 12.026 0 0 0 7.477-3.663l28.42 13.08v42.67c-53.392-10.07-93.913-57.029-93.913-113.3C12.668 64.409 64.407 12.669 128 12.669c63.595 0 115.331 51.74 115.331 115.332 0 61.327-48.122 111.61-108.588 115.115zM128.001 0C57.42 0 0 57.424 0 128c0 70.578 57.42 127.997 128 128 70.582 0 128-57.422 128-128C256 57.425 198.582 0 128 0z"
            fill="#ffffff"></path></svg
        >
      </div>
    </div>
    <div class="mt-10 px-16">
        I have also experience in unit testing in backend via <strong
          >Junit + Mockito libraries</strong
        >, automation tools such as <strong>Jenkins</strong> for pipelines,
        <strong>Portainer</strong> and <strong>Docker</strong> in order to handle
        deployments in containers and
        <strong>DBeaver</strong> or <strong>SQL Developer</strong> as database managers.
        I have used <strong>JBoss</strong> and <strong>Tomcat</strong> as application
        servers and I also have experience with IDE's like <strong
          >Eclipse</strong
        > or <strong>IntelliJ Idea</strong> to develop my code.
    </div>
  </main>
</Layout>
